<p class="powered">Powered by <a href="https://gohugo.io">Hugo</a>. 
  <!-- Theme by <a href="https://themes.gohugo.io/hugo-theme-techdoc/">TechDoc</a>. Designed by <a href="https://github.com/thingsym/hugo-theme-techdoc">Thingsym</a>. -->
</p>
